@media(min-width: 44em){
  .secondChildMargin dl:nth-child(2) {
    margin-block-start: 0;
  }
}

@media(max-width: 44em){
  .flex-if-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
  }
}