.searchResults {
  position: absolute;
  top: 58px;
  right: 0.99em;
  z-index: 10;
  background-color: white;
  min-width: 201px;
  padding-left: 0;
  cursor: pointer;
}

.searchContainer {
  position: relative;
}

.min1 {
  min-height: 1px;
}

.input {
  width: 100%;
  max-width: 200px;
}
